<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login..</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}"/>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="flash">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
    <div class="reg_div">
        <h1 class="reg_h1">Login Your Account</h1>
        <form method="POST" class="reg_form">
            <label class="reg_label">Username</label>
            <input type="text" name="username" class="home_input" placeholder="Enter your Username"/>
            <label class="reg_label">Password</label>
            <input type="password" name="password" class="home_input" placeholder="Enter your Password"/>
            <button class="reg_button">Login</button>
        </form>
        <div style="display: flex; justify-content: center;">
            <p id="login_ac1">No account? <a href="{{url_for('register')}}" style="text-decoration: none; color: black;">Signup</a></p>
        </div>
    </div>
</body>
</html>