<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update notes</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}"/>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="flash">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
    <div class="reg_div">
        <h1 class="reg_h1">update notes</h1>
        <form method="POST" class="reg_form">
            {% for i in update %}
            <label class="reg_label">Title</label>
            <input type="text" name="title1" class="home_input"  value="{{i[0]}}" />
            <label class="reg_label">Content</label>
            <textarea name="content1" class="textarea" >{{i[1]}}</textarea>
            <button class="reg_button">submit</button>
            {% endfor %}
        </form>
    </div>
</body>
</html>